{% extends 'base_template.html' %}
{% load static %}
{% block title %} Data Kegiatan {% endblock %}

{% block content %}
<style>
  * {
    box-sizing: border-box;
  }
  
  /* Float four columns side by side */
  .column {
    float: left;
    width: 25%;
    padding: 0 10px;
  }
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive columns */
  @media screen and (max-width: 700px) {
    .column {
      width: 100%;
      display: block;
      margin-bottom: 5vw;
    }
  }
  
  /* Style the counter cards */
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 2vw;
    text-align: center;
    background-color: #ffffff;
  }
  .card:hover {
      box-shadow: 0 8px 16px 0 #8063c0;
  }
</style>

<div class="main">
  <h3 class="title" style="margin-top:4vw;">list <span>jadwal</span></h3>
  <h5 style="text-align: center;"> untuk kegiatan.</h5>
  <div class="button" style="margin: 4vw;">
    <a href="https://indrikla.herokuapp.com/" class="btn btn-primary active" role="button" aria-pressed="true">Kembali</a>
    <a href="{% url 'tambahKegiatan' %}" class="btn btn-outline-primary" role="button" aria-pressed="true">Isi jadwal</a>  
  </div>
</div>
      {% csrf_token %}
      {% for data in dataKegiatan %}
      <div class="container">
        <div class="column" style="margin-bottom: 1vw;">
          <div class="card">
            <h3 class="title2" style="font-size: clamp(16px, 2vw, 37px);" ><span>{{data.kegiatan}}</span></h3>
              {% csrf_token %}
              {% for datap in dataPartisipan %}
                {% if datap.kegiatan == data %}
                  <h1 style="font-size: clamp(12px, 1.5vw, 33px);"> {{datap.nama}} </h1>
                  {% endif %}
                {% endfor %}
          </div>
        </div>
      </div>
      {% endfor %}
      
    <section class="container-fluid d-flex flex-wrap align-content-center">
      <div class="form" style="margin:5vw">
        <form action="" method="POST" novalidate>
          {% csrf_token %}
          <table class="table mx-3" style="width:88vw">
              {{ form.as_table }}
              <tr>
                  <td>&nbsp;</td>
                  <td><input type="submit" value="Submit" class="btn btn-primary click"></td>
              </tr>
          </table>
        </form>
      </div>
    </section>

{% endblock content %}
